<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Acl>
            <version>1.0.0.1</version>
        </Loewenstark_Acl>
    </modules>
    <global>
        <models>
            <loewenstark_acl>
                <class>Loewenstark_Acl_Model</class>
            </loewenstark_acl>
        </models>
        <helpers>
            <loewenstark_acl>
                <class>Loewenstark_Acl_Helper</class>
            </loewenstark_acl>
        </helpers>
        <blocks>
            <loewenstark_acl>
                <class>Loewenstark_Acl_Block</class>
            </loewenstark_acl>
            <adminhtml>
                <rewrite>
                    <store_switcher>Loewenstark_Acl_Block_Adminhtml_Store_Switcher</store_switcher>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <model_save_before>
                <observers>
                    <loewenstark_acl_save_before>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>saveBeforeAdminModelRole</method>
                    </loewenstark_acl_save_before>
                </observers>
            </model_save_before>
            <model_load_after>
                <observers>
                    <loewenstark_acl_load_after>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>loadAfterAdminModelRole</method>
                    </loewenstark_acl_load_after>
                </observers>
            </model_load_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <loewenstark_acl_core_block_abstract_prepare_layout_after>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>addTabToRoles</method>
                    </loewenstark_acl_core_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <admin_permissions_role_prepare_save>
                <observers>
                    <loewenstark_acl_admin_permissions_role_prepare_save>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>addAdminPermissionsRolePrepareSave</method>
                    </loewenstark_acl_admin_permissions_role_prepare_save>
                </observers>
            </admin_permissions_role_prepare_save>
            <catalog_product_collection_load_before>
                <observers>
                    <loewenstark_acl_admin_permissions_role_prepare_save>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>addRoleFilterToProductCollection</method>
                    </loewenstark_acl_admin_permissions_role_prepare_save>
                </observers>
            </catalog_product_collection_load_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <loewenstark_acl_eav_collection_abstract_load_before>
                        <type>singleton</type>
                        <class>loewenstark_acl/observer</class>
                        <method>addRoleFilterToCustomerCollection</method>
                    </loewenstark_acl_eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <resources>
            <loewenstark_acl_setup>
                <setup>
                    <module>Loewenstark_Acl</module>
                </setup>
            </loewenstark_acl_setup>
        </resources>
    </global>
</config>
