<?xml version="1.0"?>
<config>
    <modules>
        <MagentoHackathon_AdvancedAcl>
            <version>1.0.0</version>
        </MagentoHackathon_AdvancedAcl>
    </modules>
    <global>
        <models>
            <magentohackathon_advancedacl>
                <class>MagentoHackathon_AdvancedAcl_Model</class>
                <resourceModel>magentohackathon_advancedacl_resource</resourceModel>
            </magentohackathon_advancedacl>
            <magentohackathon_advancedacl_resource>
                <class>MagentoHackathon_AdvancedAcl_Model_Resource</class>
                <entities>
                    <role_store>
                        <table>admin_role_store</table>
                    </role_store>
                </entities>
            </magentohackathon_advancedacl_resource>
        </models>
        <helpers>
            <magentohackathon_advancedacl>
                <class>MagentoHackathon_AdvancedAcl_Helper</class>
            </magentohackathon_advancedacl>
        </helpers>
        <blocks>
            <magentohackathon_advancedacl>
                <class>MagentoHackathon_AdvancedAcl_Block</class>
            </magentohackathon_advancedacl>
            <adminhtml>
                <rewrite>
                    <store_switcher>MagentoHackathon_AdvancedAcl_Block_Adminhtml_Store_Switcher</store_switcher>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <model_save_before>
                <observers>
                    <magentohackathon_advancedacl_save_before>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>saveBeforeAdminModelRole</method>
                    </magentohackathon_advancedacl_save_before>
                </observers>
            </model_save_before>
            <model_load_after>
                <observers>
                    <magentohackathon_advancedacl_load_after>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>loadAfterAdminModelRole</method>
                    </magentohackathon_advancedacl_load_after>
                </observers>
            </model_load_after>
            <admin_permissions_role_prepare_save>
                <observers>
                    <magentohackathon_advancedacl>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_role</class>
                        <method>addStoresToRoleModel</method>
                    </magentohackathon_advancedacl>
                </observers>
            </admin_permissions_role_prepare_save>
            <admin_roles_save_after>
                <observers>
                    <magentohackathon_advancedacl>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_role</class>
                        <method>saveAfter</method>
                    </magentohackathon_advancedacl>
                </observers>
            </admin_roles_save_after>
            <admin_roles_load_after>
                <observers>
                    <magentohackathon_advancedacl>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_role</class>
                        <method>afterLoad</method>
                    </magentohackathon_advancedacl>
                </observers>
            </admin_roles_load_after>
            <admin_roles_delete_before>
                <observers>
                    <magentohackathon_advancedacl>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_role</class>
                        <method>beforeDelete</method>
                    </magentohackathon_advancedacl>
                </observers>
            </admin_roles_delete_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <magentohackathon_advancedacl_core_block_abstract_prepare_layout_after>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>addTabToRoles</method>
                    </magentohackathon_advancedacl_core_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <admin_permissions_role_prepare_save>
                <observers>
                    <magentohackathon_advancedacl_admin_permissions_role_prepare_save>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>addAdminPermissionsRolePrepareSave</method>
                    </magentohackathon_advancedacl_admin_permissions_role_prepare_save>
                </observers>
            </admin_permissions_role_prepare_save>
            <catalog_product_collection_load_before>
                <observers>
                    <magentohackathon_advancedacl_admin_permissions_role_prepare_save>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>addRoleFilterToProductCollection</method>
                    </magentohackathon_advancedacl_admin_permissions_role_prepare_save>
                </observers>
            </catalog_product_collection_load_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <magentohackathon_advancedacl_eav_collection_abstract_load_before>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer</class>
                        <method>addRoleFilterToCustomerCollection</method>
                    </magentohackathon_advancedacl_eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <magentohackathon_advancedacl_eav_collection_abstract_load_before>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_sales</class>
                        <method>filterOrderGrid</method>
                    </magentohackathon_advancedacl_eav_collection_abstract_load_before>
                </observers>
            </sales_order_grid_collection_load_before>
            <sales_order_invoice_grid_collection_load_before>
                <observers>
                    <magentohackathon_advancedacl_eav_collection_abstract_load_before>
                        <type>singleton</type>
                        <class>magentohackathon_advancedacl/observer_sales</class>
                        <method>filterinvoiceGrid</method>
                    </magentohackathon_advancedacl_eav_collection_abstract_load_before>
                </observers>
            </sales_order_invoice_grid_collection_load_before>
        </events>
        <resources>
            <magentohackathon_advancedacl_setup>
                <setup>
                    <module>MagentoHackathon_AdvancedAcl</module>
                </setup>
            </magentohackathon_advancedacl_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MagentoHackathon_AdvancedAcl>
                    <files>
                        <magentohackathon_advancedacl>MagentoHackathon_AdvancedAcl.csv</magentohackathon_advancedacl>
                    </files>
                </MagentoHackathon_AdvancedAcl>
            </modules>
        </translate>
    </adminhtml>
</config>
